service gammapad /system/bin/gammapad
    disabled
    user system
    group system input
    capabilities MKNOD DAC_OVERRIDE
    seclabel u:r:gammapad:s0
    class main

on post-fs-data
    mkdir /data/misc/gammapad 0777 system system

on property:persist.gammaos.gamepad.enable=1 && property:sys.boot_completed=1
    start gammapad

on property:persist.gammaos.gamepad.enable=0
    stop gammapad
    exec - root root -- /system/bin/gammapad_restore
