typeattribute bootanim coredomain;

init_daemon_domain(bootanim)

# b/68864350
dontaudit bootanim unlabeled:dir search;

# Bootanim should not be reading default vendor-defined properties.
dontaudit bootanim vendor_default_prop:file read;

# Read ro.boot.bootreason b/30654343
get_prop(bootanim, bootloader_boot_reason_prop)

get_prop(bootanim, bootanim_config_prop)

# Allow updating boot animation status.
set_prop(bootanim, bootanim_system_prop)

# Allow accessing /data/misc/bootanim
r_dir_file(bootanim, bootanim_data_file)

# Allow accessing vendor apex for EGL/GLES
allow bootanim vendor_apex_metadata_file:dir r_dir_perms;

# GammaOS Nano: allow brightness control via sysfs backlight
allow bootanim sysfs_leds:dir r_dir_perms;
allow bootanim sysfs_leds:file rw_file_perms;
allow bootanim sysfs_leds:lnk_file read;

# GammaOS Nano: allow exclusive input grab (EVIOCGRAB) for menu navigation
allow bootanim input_device:dir r_dir_perms;
allow bootanim input_device:chr_file { read write open ioctl getattr };

# GammaOS Nano: read persist.gammaos.* properties (skip_nano check)
get_prop(bootanim, persist_gammaos_prop)

# GammaOS Nano: allow handing off to bootanim when nano mode is disabled
set_prop(bootanim, ctl_bootanim_prop)

# GammaOS Nano: set sys.gammaos.nano.launch_* properties for direct game launch
set_prop(bootanim, persist_gammaos_prop)

# GammaOS Nano: read RetroArch playlist from /data/media/0/
# Traverse /data/media/ directory (media_userdir_file)
allow bootanim media_userdir_file:dir { search getattr open read };
# Traverse and read files under /data/media/0/... (media_rw_data_file)
allow bootanim media_rw_data_file:dir { search getattr open read };
allow bootanim media_rw_data_file:file { read getattr open };

# GammaOS OTA: allow NanoMenu to trigger OTA mode
set_prop(bootanim, ctl_gammaosota_prop)
set_prop(bootanim, gammaosota_prop)
