service gammaos-nano /system/bin/gammaos-nano
    class core animation
    user graphics
    group graphics input system media_rw sdcard_rw everybody external_storage package_info
    capabilities SYS_NICE IPC_LOCK SYS_RESOURCE
    disabled
    oneshot
    ioprio rt 0
    rlimit rtprio 99 99
    rlimit memlock 536870912 536870912
    task_profiles MaxPerformance
